# Utilities
[submodule "share/autoinsert/gitignore"]
	path = share/autoinsert/gitignore
        url = https://github.com/github/gitignore.git

[submodule "site-lisp/wandbox"]
	path = site-lisp/wandbox
	url = git@github.com:kosh04/emacs-wandbox.git
[submodule "site-lisp/unicode-escape"]
	path = site-lisp/unicode-escape
	url = git@github.com:kosh04/unicode-escape.el.git
[submodule "site-lisp/gitignore"]
	path = site-lisp/gitignore
	url = git@github.com:kosh04/gitignore.el.git
[submodule "site-lisp/go-playground-cli"]
	path = site-lisp/go-playground-cli
	url = git@github.com:kosh04/emacs-go-playground.git
# [submodule "site-lisp/getpocket"]
# 	path = site-lisp/getpocket
# 	url = file:///Users/kosh/.emacs.d/site-lisp/getpocket/.git
[submodule "site-lisp/init-loader"]
	path = site-lisp/init-loader
	url = https://github.com/emacs-jp/init-loader.git
