# emacs
*.elc
.emacs.desktop
.emacs.desktop.lock
elpa
el-get/
history
games/*-scores
request/
url/
server/
image-dired/
recentf
tramp
abbrev_defs
custom.el
/notes

eshell/lastdir

# cask
.cask

# backup
\#*\#
*~
backup/

# clojure
nrepl-history

# misc
UnicodeData.txt
share/dict/*/migemo-dict
site-lisp/vendor/
etc/
/emojis/
/irony/
.geiser_history.guile
.auth.plist
places
# nsm-settings-file
network-security.data
