# emacs
*.elc
*-autoloads.el
.emacs.desktop
.emacs.desktop.lock
.newsrc
.newsrc.eld
elpa
el-get/
history
games/*-scores
request/
url/
server/
image-dired/
recentf
tramp
abbrev_defs
bookmarks
custom.el
notes
debbugs
timelog
var/
vendor/
tmp/

eshell/lastdir

# cask
.cask

# backup
\#*\#
*~

# clojure
nrepl-history

# misc
UnicodeData.txt
share/dict/*/migemo-dict
site-lisp/vendor/
etc/
/emojis/
/irony/
.geiser_history.guile
.auth.plist
places
# nsm-settings-file
network-security.data
.lsp-session-*