# emacs
*.elc
.emacs.desktop
.emacs.desktop.lock
elpa
el-get/
history
games/*-scores
request/
url/
image-dired/
recentf
tramp
abbrev_defs
init-custom.el

# cask
.cask

# backup
\#*\#
*~
backup/

# clojure
nrepl-history

# misc
UnicodeData.txt
share/dict/*/migemo-dict
site-lisp/vendor/
etc/
/emojis/