# Utilities
[submodule "share/autoinsert/gitignore"]
	path = share/autoinsert/gitignore
        url = https://github.com/github/gitignore.git

[submodule "site-lisp/init-loader"]
	path = site-lisp/init-loader
	url = https://github.com/emacs-jp/init-loader.git
